[Desktop Entry]
Version=1.0
Type=Application
Name=BlueBubbles
GenericName=iMessage Client
Comment=Connect to your BlueBubbles server and send iMessages
Icon=network-server
Exec=python3 main.py
Categories=Network;InstantMessaging;
StartupNotify=true
Terminal=false
